@import '../../styles/variables.scss';
@import '~foundation-sites/scss/foundation';

.modal {
  border-radius: 4px;
  width: 730px;
  @include breakpoint(small only) {
    min-width: 0;
    width: 100%;
    height: 100%;
  }
}

.modalWrapper {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;

  padding: {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 60px;
  }
  @include breakpoint(small only) {
    padding: 8px 8px;
  }
}

.modalHeader {
  position: relative;
  flex-direction: column;
  text-align: center;
  height: 25px;
}

.title {
  letter-spacing: 1px;
  font-size: 24px;
  position: relative;
}

.content {
  word-wrap: break-word;
  font-size: 16px;
  color: $ht-gray;
  margin: 25px 20px 10px 20px;
  padding: 0 5px 5px 5px;
  overflow-y: auto;
  max-height: 262px;

  @include breakpoint(small only) {
    height: 85%;
  }
}

.closeIconContainer {
  position: absolute;
  right: 0;
  top: 0;
}

.closeIcon {
  width: 25px;
  height: 25px;
}

.buttonWrapper {
  a {
    display: inline-block;
    float: right;
  }
}

.button {
  border-radius: 3px;
}

.buttonContent {
  letter-spacing: 0;
  padding: 10px 20px;
}
