@import '../../styles/variables.scss';
@import '~foundation-sites/scss/foundation';

.passwordHeader {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  @include breakpoint(small only) {
    height: 65px;
    border-bottom: none;
  }
}

.passwordHeaderWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: $ht-black;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 700;
  @include breakpoint(medium up) {
    text-transform: uppercase;
  }
  @include breakpoint(small only) {
    padding: {
      top: 10px;
    }
  }
}

.notice {
  margin: 30px 0;
}

.passwordForm {
  margin: 20px 0;
}

.formControl {
  width: 100%;
  & > div {
    margin: 20px 0;
  }
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  @include breakpoint(small only) {
    flex-direction: column;
    height: 100px;
  }
}

.button {
  width: 300px;
  @include breakpoint(small only) {
    width: 100%;
  }
}

.isDisabled {
  opacity: 0.5;
}

.content {
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}

.icon {
  margin: 30px 0;
}

.title {
  letter-spacing: 3px;
  margin: 0;
}

.invalidButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 400px;
  margin: 0 auto;

  a {
    display: block;
    width: 100%;
  }

  .button {
    width: 100%;
  }
}
