@import '../../styles/variables.scss';

.toggle {
  display: inline-flex;
  font-size: 16px;
  color: $ht-white;
}

.currencyLabel {
  margin: {
    right: 10px;
  }
}

.dropDownIcon {
  width: 9px;
  height: 5px;
  margin: {
    left: 10px;
  }
}

.currencyWrapper {
  display: flex;
  align-items: center;
}

.optionCell {
  height: 23px;
  font-size: 12px !important;
  line-height: 12px;
  text-align: center;
  padding: 5px 12px;
  width: 130px;
  cursor: pointer;
}
